<ul class="frends__list">
    {{#each items}}
    <li class="frend">
        <img src="{{photo_50}}" alt="pic" class="frend__pic">
        <div class="frend__name">{{first_name}} {{last_name}}</div>
        <div class="cross cross-add"></div>
    </li>
    {{/each}}
</ul>